
<div class="card-verification">
	<div class="cvv-details">
		<div class="name">CVV2/CVC2</div>
		<a href="#" class="link">
			<span class="tooltip"></span>
			
		</a>
	</div>

		<div class="message js-cvv-message">
		<span class="description"></span>
		<span class="close">x</span>
	</div>


	<div class="cvv-input">
		<input
				type="password"
				id="cvv"
				name="Cvc"
				maxlength="3"
				readonly
				inputmode="numeric"
				autocomplete="Cvc"
		>

		<div class="keyboard" id="keyboard">
			<a class="close">x</a>
			<div class="keys"></div>

			<div class="controls">
				<button
						type="button"
						class="change"
				></button>

				<button type="button" class="clear">←</button>
			</div>

			<div class="done-btn-cvv">
				<button type="button" class="done">
					
				</button>
			</div>
		</div>
	</div>
</div>
