
<div class="container">
	<div class="wrap">
		<div class="wrap-part">
			<div class="number">
				<a href="tel:0800307010">0-800-30-70-10</a>
			</div>
		</div>

		<div class="wrap-part-new">
			<div class="logo-additional">
				<a href="https://www.radissonblu.com/en/hotel-kyiv-podil"></a>
			</div>
		</div>

		<div class="wrap-part">
			<div class="lang-switcher">
				<ul class="lang-list">
											
						<li class="lang-item">
							<a href="/">
								ru
							</a>
						</li>
											
						<li class="lang-item">
							<a href="/en/">
								en
							</a>
						</li>
											
						<li class="lang-item">
							<a href="/ua/">
								ua
							</a>
						</li>
									</ul>
			</div>

			<div class="logo">
				<a href="https://bankvostok.com.ua/"></a>
			</div>
		</div>
	</div>
</div>

