

<div class="footer">
	
<div class="buttons">
			<button class="proceed-btn" type="submit" id="submitBtn"></button>
	</div>

	<div class="links">
		<div class="links-list">

								<div class="links-item">
		<a href="https://www.mastercard.ru/ru-ru/consumer/features-benefits/securecode.html">
			<img src="img/mastercard.png" alt="mastercard">
		</a>
	</div>

								<div class="links-item">
		<a href="https://www.visaeurope.com/making-payments/verified-by-visa/">
			<img src="img/visa.png" alt="visa">
		</a>
	</div>

								<div class="links-item">
		<a href="https://www.visa.com.ua/uk_UA/pay-with-visa/visa-checkout.html">
			<img src="img/VISA_Checkout_Logo-Icon.png" alt="visa checkout">
		</a>
	</div>

			
		</div>
	</div>
</div>
